<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= erb :head_css %>

</head>
<body>
<%= erb :header %>
<%= erb :navbar %>

<main>
  <section class="confirmed-bookings-guest">
    <p>
    <h3 align="center">
      Confirmed Bookings as Guest
    </h3>
    </p>
    <div id="master" style="width: 90%; margin: 0 auto;">
      <div class="row">
        <% @bookings_guest.each do |booking| %>
          <div class="col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="card-body">
                <h5 class="card-title"><%= booking['name'] %></h5>
                <p class="card-text"><%= booking['description'] %></p>
                <p class="card-text">
                  Location: <%= booking['location'] %><br>
                  Price: £<%= booking['price'] %><br>
                  Check In Date: <%= booking['check_in'] %><br>
                  Host: <%= booking['host_name'] %><br>
                  Host Email: <%= booking['host_email'] %>
                </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section class="requests-received">
    <p>
      <h3 align="center">
        Confirmed Bookings as Host
      </h3>
    </p>
    <div id="master" style="width: 90%; margin: 0 auto;">
      <div class="row">
        <% @bookings_host.each do |booking| %>
          <div class="col-sm-6">
            <div class="card" style="margin-bottom: 30px;">
              <div class="card-body">
                <h5 class="card-title"><%= booking['name'] %></h5>
                <p class="card-text"><%= booking['description'] %></p>
                <p class="card-text">
                  Location: <%= booking['location'] %><br>
                  Price: £<%= booking['price'] %><br>
                  Check In Date: <%= booking['check_in'] %><br>
                  Guest: <%= booking['guest_name'] %><br>
                  Guest Email: <%= booking['guest_email'] %>
                </p>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section><br>
</main>
</body>
</html>