<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :head_css %>
    <meta charset="UTF-8">
  </head>

  <body>
  <%= erb :header %>
  <%= erb :navbar %>
  <header>
<br>
      <h3 align="center">
        MakersBnB Spaces
      </h3><br>
      <% if @date %>
        <h4 align="center">Spaces available for <%= @date %></h4>
      <% else %>
        <h4 align="center">Spaces available</h4>
      <% end %>
    </header>

    <main>
      <div id="master" style="width: 90%; margin: 0 auto;">
        <div class="row">
        <% @spaces.each do |space_hash| %>
            <div class="col-sm-6">
              <div class="card" style="margin-bottom: 30px;">
                <div class="card-body">
                  <ul>
                    <h5 class="card-title"><%= space_hash[:space].name %></h5>
                    <p class="card-text"><%= space_hash[:space].description %></p>
                    <p class="card-text">Location: <%= space_hash[:space].location %>
                    <br>Price: £<%= space_hash[:space].price %>
                
                    <br>Host: <%= space_hash[:host_name] %></p>
                    <% if @date %>
                    <p align="center"><form action="/request_confirmation/<%=space_hash[:space].id%>" method="get">
                    <input type="submit" value="Request Space" class="btn btn-lg btn-primary btn-block" style="background-color: #20B2AA; border: 0px;"></form></p>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>


<!--              <input type="submit" value="Request Property">-->

          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>
