<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :head_css %>
  <meta charset="UTF-8">
</head>

<body>
  <%= erb :header %>
  <%= erb :navbar %>
  <header>
    <br>
    <h3 align="center">Edit Space</h3>
  </header>
  <div class="text-center mt-3 mb-4"> 
    <%= flash[:notice] %> 
  </div>

  <div class="card mb-4" style="margin: 0 auto; width: 50%;">
    <div class="card-body text-center">
      <h5 class="card-title"><%= @space.name %></h5>
      <p class="card-text"><%= @space.description %></p>
      <p class="card-text">Location: <%= @space.location %>
      <br>Price: £<%= @space.price %>
    </div>
  </div>

  <div>
    <form action="/listings/<%=@space.id%>" method="post" style="width: 400px; margin: 0 auto;">
      <input class="form-control mb-3" id="property_name" type="text" name="property_name" placeholder="Enter the name of your space" required>
      <textarea class="form-control mb-3" id="property_description"  name="property_description" placeholder="Write a description. Sell your space to potential renters!" rows="4" cols="50" required></textarea>
      <input class="form-control mb-3" id="property_location" type="text" name="property_location" placeholder="Where is your space?" required>
      <input class="form-control mb-3" id="property_price" type="text" name="property_price" placeholder="Set your nightly price"required>
      <input type="hidden" name="_method" value="PATCH">
      <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block mb-5" style="background-color: #20B2AA; border: 0px;">
    </form>
  </div>
</body>
</html>